
.card {
	border-radius: 8px;
	border-color: #dadce0;
}

.card .card-body {padding: 16px;}

.card .card-title h2 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(95, 99, 104);
    margin-bottom: 0;
}

.card .card-subtitle hr {
    margin: 0;
}

.current-weather {
	font-size: 14px;
    color: #3c4043;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 12px;
}

.current-weather .weather-type {
    margin-top: 8px;
}

.current-weather .number {
    font-size: 28px;
    color: #3c4043;
    font-weight: 400;
}
.current-weather .number .unit {
    font-size: 14px;
    font-weight: 500;
    margin-left: 2px;
}

.current-weather .weather-icon-current img {
    max-width: 100%;
}


.forecast .day {
    display: block;
    font-size: 14px;
    color: #3c4043;
    font-weight: 500;
}

.weather-icon-forecast {
	width: 100%;
	max-height: 50px;
}

.high-low {
	font-size: 12px;
	text-align: center;
	color: #3c4043;
	line-height: 18px;
}

.high-low .high {
    font-weight: 700;
    // padding-bottom: .4rem;
}

.high-low .low {
    opacity: .9;
}
